<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{task_name}}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <p>Task Name: {{task.task_name}}</p>
    <p>Description: {{task.description}}</p>
    <p>Hours: {{task.hours}}</p>
    <p>Due Date:{{task.due}}</p>
    <p>Assigned to: {{task.assigned}}</p>
    <p>Creator: {{task.creator}}</p>
    <p>Created at: {{task.created_at}}</p>
    <p>Updated at: {{task.updated_at}}</p>
</body>
</html>